venv
/secure
/outputs
/.vscode
/.idea
/ref/*.zip
/assets
/media/uploads
loaddata/**/*.csv
/results.sqlite

#base
*.log
.DS_Store
#python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
